# {{ ansible_managed }}

[Resolve]
{% if systemd_resolved_servers is defined %}
{% if systemd_resolved_servers is iterable and
      systemd_resolved_servers is not mapping and
      systemd_resolved_servers is not string %}
DNS={{ systemd_resolved_servers | join(" ") }}
{% else %}
DNS={{ systemd_resolved_servers }}
{% endif %}
{% endif %}
{% if systemd_resolved_fallback_servers is defined %}
{% if systemd_resolved_fallback_servers is iterable and
      systemd_resolved_fallback_servers is not mapping and
      systemd_resolved_fallback_servers is not string %}
FallbackDNS={{ systemd_resolved_fallback_servers | join(" ") }}
{% else %}
FallbackDNS={{ systemd_resolved_fallback_servers }}
{% endif %}
{% endif %}
{% if systemd_resolved_domains is defined %}
{% if systemd_resolved_domains is iterable and
      systemd_resolved_domains is not mapping and
      systemd_resolved_domains is not string %}
Domains={{ systemd_resolved_domains | join(" ") }}
{% else %}
Domains={{ systemd_resolved_domains }}
{% endif %}
{% endif %}
{% if systemd_resolved_dnssec is defined %}
{% if systemd_resolved_dnssec is boolean %}
DNSSEC={{ systemd_resolved_dnssec | ternary('yes', 'no') }}
{% else %}
DNSSEC={{ systemd_resolved_dnssec }}
{% endif %}
{% endif %}
{% if systemd_resolved_dns_over_tls is defined %}
{% if systemd_resolved_dns_over_tls is boolean %}
DNSOverTLS={{ systemd_resolved_dns_over_tls | ternary('yes', 'no') }}
{% else %}
DNSOverTLS={{ systemd_resolved_dns_over_tls }}
{% endif %}
{% endif %}
{% if systemd_resolved_multicast_dns is defined %}
{% if systemd_resolved_multicast_dns is boolean %}
MulticastDNS={{ systemd_resolved_multicast_dns | ternary('yes', 'no') }}
{% else %}
MulticastDNS={{ systemd_resolved_multicast_dns }}
{% endif %}
{% endif %}
{% if systemd_resolved_llmnr is defined %}
{% if systemd_resolved_llmnr is boolean %}
LLMNR={{ systemd_resolved_llmnr | ternary('yes', 'no') }}
{% else %}
LLMNR={{ systemd_resolved_llmnr }}
{% endif %}
{% endif %}
{% if systemd_resolved_cache is defined %}
{% if systemd_resolved_cache is boolean %}
Cache={{ systemd_resolved_cache | ternary('yes', 'no') }}
{% else %}
Cache={{ systemd_resolved_cache }}
{% endif %}
{% endif %}
{% if systemd_resolved_cache_from_localhost is defined %}
{% if systemd_resolved_cache_from_localhost is boolean %}
CacheFromLocalhost={{ systemd_resolved_cache_from_localhost | ternary('yes', 'no') }}
{% else %}
CacheFromLocalhost={{ systemd_resolved_cache_from_localhost }}
{% endif %}
{% endif %}
{% if systemd_resolved_dns_stub_listener is defined %}
{% if systemd_resolved_dns_stub_listener is boolean %}
DNSStubListener={{ systemd_resolved_dns_stub_listener | ternary('yes', 'no') }}
{% else %}
DNSStubListener={{ systemd_resolved_dns_stub_listener }}
{% endif %}
{% endif %}
{% if systemd_resolved_dns_stub_listener_extra is defined and systemd_resolved_dns_stub_listener_extra %}
DNSStubListenerExtra={{ systemd_resolved_dns_stub_listener_extra }}
{% endif %}
{% if systemd_resolved_read_etc_hosts is defined %}
{% if systemd_resolved_read_etc_hosts is boolean %}
ReadEtcHosts={{ systemd_resolved_read_etc_hosts | ternary('yes', 'no') }}
{% else %}
ReadEtcHosts={{ systemd_resolved_read_etc_hosts }}
{% endif %}
{% endif %}
{% if systemd_resolved_resolve_unicast_single_label is defined %}
{% if systemd_resolved_resolve_unicast_single_label is boolean %}
ResolveUnicastSingleLabel={{ systemd_resolved_resolve_unicast_single_label | ternary('yes', 'no') }}
{% else %}
ResolveUnicastSingleLabel={{ systemd_resolved_resolve_unicast_single_label }}
{% endif %}
{% endif %}
{% if systemd_resolved_stale_retention_sec is defined %}
StaleRetentionSec={{ systemd_resolved_stale_retention_sec }}
{% endif %}
