---

name: molecule-journald

on:
  pull_request:
    paths:
      - .config/molecule/**
      - .github/workflows/molecule-journald.yml
      - roles/systemd_journald/**
  push:
    branches:
      - main
      - wip/next
    paths:
      - .config/molecule/**
      - .github/workflows/molecule-journald.yml
      - roles/systemd_journald/**

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:

  molecule:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        distro:
          - name: archlinux
            ansible: '2.20'
            python: '>=3.12 <3.15'
          - name: debian-bullseye
            ansible: '2.20'
            python: '>=3.12 <3.15'
          - name: debian-bookworm
            ansible: '2.20'
            python: '>=3.12 <3.15'
          - name: rockylinux-9
            ansible: '2.20'
            python: '>=3.12 <3.15'
          - name: ubuntu-focal
            ansible: '2.19' # latest to support target python 3.8
            python: '>=3.11 <3.14'
          - name: ubuntu-jammy
            ansible: '2.20'
            python: '>=3.12 <3.15'
          - name: ubuntu-noble
            ansible: '2.20'
            python: '>=3.12 <3.15'
        scenario:
          - default

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.distro.python }}
      - run: >-
          pip3 install
          ansible-core~=${{ matrix.distro.ansible }}.0
          docker
          molecule
          molecule-plugins[docker]
      - run: ansible --version
      - run: molecule --version
      - run: >-
          molecule test
          -p ${{ matrix.distro.name }}
          -s ${{ matrix.scenario }}
        working-directory: ./roles/systemd_journald
        env:
          ANSIBLE_DIFF_ALWAYS: 'True'
          PY_COLORS: '1'

...
